<div ng-controller="AccountController">

    <div class="col-md-10">
        <h2>Accounts</h2>
        <wait-cursor display-when="Acc.isBusy"></wait-cursor>
        <div class="alert alert-danger" ng-show="Acc.errorMessage">{{Acc.errorMessage }}</div>


        <br>
        <table class="table table-responsive table-striped">
            <tr>
                <th>ID Account</th>
                <th>Description</th>
                <th>Currency Type</th>
                <th>Total Amount</th>
                <th>Created Date</th>
                <th>Active</th>
            </tr>
            <tr ng-repeat="item in Accounts">
                <td>{{ item.id_Account }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.currencyType }}</td>
                <td>{{ item.totalAmount }}</td>
                <td>{{ item.createdDate| date:shortDate }}</td>
                <td>{{ item.isActive }}</td>
            </tr>
        </table>

    </div>


</div>