<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" ng-controller="LoginController">
        <h1 class="text-center">Login</h1>
        <div ng-form="newLogIn">
            <div class="modal-body">
                <form class="form col-md-12 center-block">
                    <div class="form-group">
                        <input class="form-control input-lg" focus id="userName" required ng-pattern="/^[-A-Za-z0-9]{1,20}$/" type="text" placeholder="Username" ng-model="user.userName" />
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" id="password" required type="password" placeholder="Password" ng-model="user.password" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="newLogIn.$invalid" ng-click="ValidateUser()" class="btn btn-success" value="Log In">Sign In</button>
                    </div>
                </form>
            </div>
        </div ng-form>
    </div>
</div>
</div>