<div class="span12 pagination-centered center-block " ng-controller="LoginController" align="center">
    <div class="container">
        <div ng-form="newLogIn">
            <div class="row-fluid">
                <br>
                <div class="span3">
                    <fieldset>
                        <label for="userName">User Name:</label>
                        <input focus id="userName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username" ng-model="user.userName" />
                        </br>
                        <label for="password">Password:</label>
                        <input id="password" required type="password" placeholder="Password" ng-model="user.password" />
                    </fieldset>

                </div>
            </div>

            <div class="row-fluid">
                <div class="span6 col-xs-offset-0">
                    <div class="span6">
                        <button type="submit" ng-disabled="newLogIn.$invalid" ng-click="ValidateUser()" class="btn btn-success" value="Log In">Log In</button>
                    </div>
                </div>
            </div>
        </div ng-form>
    </div>
</div>
</div>