<div ng-controller="HistoryController">

    <div class="col-md-5">
        <h2>{{ hist.Description }}</h2>
        <wait-cursor display-when="hist.isBusy"></wait-cursor>
        <div class="alert alert-danger" ng-show="hist.errorMessage">{{hist.errorMessage }}</div>

        <form novalidate name="formTransaction" ng-submit="hist.Search()">
            <div class="form-group ">
                <label>Start Date</label>
                <input type="date" class="form-control" id="startDate" name="start" ng-model="hist.StartDate" />
            </div>

            <div class="form-group ">
                <label>End Date</label>
                <input type="date" class="form-control" id="endDate" name="end" ng-model="hist.endDate" />
            </div>
            <div class="form-group">
                <label>Account</label>
                <select type="" class="form-control" id="Account" name="name" ng-model="hist.Account" ng-options="acc.id_Account as acc.description for acc in Accounts" required>
                </select>
                <span class="text-danger" ng-show="newStopForm.name.$error.required">Required</span>
                <span class="text-danger" ng-show="newStopForm.name.$error.minlength">Must be 5 characters or more</span>
            </div>
            <div>
                <input type="submit" value="Search" class="btn btn-success" ng-disabled="formTransaction.$invalid" />
            </div>
        </form>
        <br>


    </div>


</div>
<div class="col-md-10">
    <table class="table table-responsive table-striped">
        <tr>
            <th>ID Transacion</th>
            <th>Transacion Type</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
        <tr ng-repeat="stop in vm.stops">
            <td>{{ hist.Id_transacion }}</td>
            <td>{{ hist.TransactionType }}</td>
            <td>{{ hist.TransactionDate | date:shortDate }}</td>
            <td>{{ hist.TransactionAmount }}</td>
            <td>{{ hist.Description }}</td>
        </tr>
    </table>
</div>