<div ng-controller="HomeController">
    <div id="mySidenav" class="sidenav">
        <span style="font-size:50px; color:darkcyan">Options</span>
        <br>
        <a ui-sref="Account" ui-sref-active="active">Account Details</a>
        <a ui-sref="Dispenser" ui-sref-active="active">Dispenser Money</a>
        <br>
        <a ui-sref="Login" ui-sref-active="active">Log out</a>

        <span style="font-size:15px; color:dodgerblue; position: absolute; bottom:2px;right: 5">ATM - &copy; Gustavo Alpízar _V 0.0.1</span>

    </div>
</div>