<div ng-controller="HomeController" ng-cloak="">
    <div id="mySidenav" class="sidenav">
        <span style="font-size:50px; color:darkcyan">Options</span>
        <br>
        <a href="" ng-click="Sref(1)" ui-sref-active="active">Account Details</a>
        <a href="" ng-click="Sref(2)">Dispenser Money</a>
        <a href="" ng-click="Sref(3)">Transaction History</a>
        <br>
        <div>
            <span style="font-size:20px; color:darkcyan; margin-left: 0rem"> User: {{username}}</span>
            <a href="" ng-click="LogOut()" ui-sref-active="active">Log out</a>
        </div>
        <span style="font-size:15px; color:dodgerblue; position: absolute; bottom:2px;right: 5">ATM - &copy; Gustavo Alpízar _V 0.0.1</span>

    </div>
</div>