<div ng-controller="DispenserController">

    <div class="col-md-5">
        <h2>$$</h2>
        <wait-cursor display-when="disp.isBusy"></wait-cursor>
        <div class="alert alert-danger" ng-show="disp.errorMessage">{{disp.errorMessage }}</div>

        <form novalidate name="formDisp" ng-submit="disp.SubmitDebit()">

            <div class="form-group">
                <label>Account to Debit</label>
                <select ng-init="selectedParent = null" type="" class="form-control" id="Account" name="Account" ng-model="disp.AccountSelection" ng-options="acc.id_Account as acc.description for acc in Accounts" required> 
                </select>

                <div class="form-group ">
                    <label>Amount</label>
                    <input type="number" class="form-control" id="Amount" name="Amount" ng-model="disp.Amount" required />

                </div>

            </div>
            <div>
                <input type="submit" value="Submit" class="btn btn-success" ng-disabled="formDisp.$invalid" />
            </div>
        </form>
        <br>


    </div>


</div>